:root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
  background-color: #f5f0e8;
  transition: background-color 0.3s ease;
}

:root.dark-mode {
  background-color: #333333;
}