:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg-primary: #f5f0e8;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
}